@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body {
    margin: 0;
    background-color: #fefaf2;
    
}



body > header, 
body > main,
body > footer {
    
    max-width: 612px;
    margin: auto;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

body > header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    img {
        height: 50px;
    }
}

.poll {
    padding: 8px;

}

.poll:not(:last-child) {
    border-bottom: solid rgb(176, 176, 188) 2px;
}

.meta {
    color: rgb(124, 115, 115);
    padding: 20px;
}

.poll footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: rgb(213, 141, 244);
    border-color: rgb(213, 141, 244);
    background-color: transparent;
    height: 40px;
    width: 100px;
    padding: 8px;
    border-width: 1px;
    border-radius: 10px;
    
}

.range {
    width: 100%;
    height: 25px;
    background-color: rgba(255,0,0,0.3);
    .percentage { 
        width: 66%;
        height: 25px;
        background-color: rgba(255,0,0,1);
    }
}

 .tags {
    color: #989795;
 }

 .end {
    color: rgb(213, 141, 244);
 }

 .end:not(:last-child) {
    border-bottom: solid rgb(176, 176, 188) 1px;
    border-width: 2px;
}
.question {
    font-size:35px;
}

 .site-footer {
    .site-nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 3rem;
            
        }
    }
 }